body {
    padding: 0;
    margin: 0;
}
.container-update{
    display:flex;
    align-content: center;
    justify-items: center;
    align-items: center;
    flex-direction:column;
    margin:auto;
    height: 100vh;
    min-height:800px;
    width:100%;  
    background: rgb(120,192,216);
    background: linear-gradient(180deg, rgba(120,192,216,1) 0%, rgba(192,216,240,1) 51%, rgba(240,216,216,1) 100%);
    background-size: cover;
   
}
.header-update{
    text-align: center;
    font-family: 'Sansita', sans-serif;
    font-size: 1.2em;   
    color:white; 
}
.header-update h1{
    margin:20px;
}
.container-form{
    padding:30px;
    margin:30px;
    margin-top:0;
    padding-left: 90px;
    width:800px;
    background:#f4f3f8;
    font-family: 'Dosis', sans-serif;
    border-radius: 25px;
    box-shadow: 5px 6px 18px #888888;
}
.gender h2,.disease h2,.region h2,.weight h2,.height h2{
    margin:10px;
    margin-left:0;
    font-size:1em;
}
.disease{
    margin-bottom:30px;
}
#save-submit{
    display:flex;
    justify-content: center;
    align-items: center;
}
#save-submit input{
    cursor:pointer;
}
input[type="submit"]:hover{
    box-shadow: 0px 0px 26px 3px rgba(255,255,255,0.62);
}
input[type=submit]{  
    color: white; 
    cursor: pointer; 
    max-width:10em;
    width: 7em;
    font-size:1.3em;
    font-family: 'Sansita', sans-serif;
    border-radius: 30px;
    background:#C0D8F0;
    border:solid 2px #FEFAFA;
}
input{
    padding:5px;
    border-radius: 2px;
}
input[type=text] {
    width: 270px;
    border: solid 1px white;
    height:30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    margin-right:5px;
    -moz-appearance: textfield;
    width: 100px;
    height: 30px;
    border: 1px white;
}

label {
    font-size: 1em;
}
@media only screen and (max-width: 600px) {
    #save-submit{
        padding-top:0;
        margin-top:0;
    }
    #save-submit input{
        padding:0;
        margin:0;
    }
    .container-update input[type="text"] {
        width:200px;
    }
    .container-form{
        
        width:70vw;
    height: 80vh;
    padding:30px;
    padding-top:0px;
    margin:0;
    }
  
    .container-update h2{
    font-size:1.2em;
    margin:10px;
    margin-left:0;
    }
    .container-update h1{
        margin-top:0;
        font-size:1.5em;
        width:200px;
        text-align:center;
        }

    .gender{
        width:80vw;
    }
    .header-update{
        height: 100px;
        margin-top:20px;
    }
  }