<!DOCTYPE html>
<html>
<head>
<title>Morpheus</title>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="stylesheet" href="../css/register.css">
<link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
</head>

<body>
        <div class="container-register">
          <div><h1 class="register-title">Sign up</h1> </div>
          <div class="register-div">
            <form class="register-form">
              <div class="names">
              <label>
                <input type="text" name="firstName" placeholder="First Name" />
              </label>
              <label>
                <input type="text" name="lastName" placeholder="Last Name" />
              </label>
              </div>
              <label>
                <input type="email" name="email" placeholder="Email" />
              </label>
              <label>
                <input type="date" name="birthDate" min="1920-01-01" max="2020-12-12"/>
              </label>
              <label>
                <input type="password" name="password" placeholder="Create password"  onchange='check_pass();' />
              </label>
              <label>
                <input type="password" name="passwordConfirm" placeholder="Confirm password"  onchange='check_pass();' />
              </label>
              <span id='message'></span>
              <input type="submit" name="submit" value="Create your account" />
            </form>
            <div class="sign-up-google">
              or
              <div ><img src="../images/google-icon.png"></img> Sign up with Google</div>
              </div>
          </div>
         
        </div>

</body>

</html> 