body{
    padding:0;
    margin:0;
    background:#FAFAFA;
}
.container-user-page{
    max-width:1600px;
    width:100vw;
    margin-left:auto;
    margin-right:auto;
}




.sleep-card-title h2{
    margin-top:0;
}
.sleep-card,.sleep-card2,.risk{
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.sleep-card{
    background-color:#C0D8F0;
}
.sleep-card2{
    background: linear-gradient(90deg, rgba(190,213,237,1) 0%, rgba(120,192,216,1) 100%);
}

.risks-container,.sleep-card ,.sleep-card2,.risk{
   width:400px;
}
.sleep-icon img{
   width:80px;
   filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(316deg) brightness(102%) contrast(100%);
}
.sleep-icon{
    padding:30px;
}
#progress-circle1,#progress-circle2 {
    position: relative;
    margin: 30px;
    width: 200px;
    height: 200px;
  }
  .sleep-info-container{
    font-family: 'Sansita', sans-serif;
    color:white;
      max-width:1600px;
      width:100vw;
      display:flex;
      flex-wrap:wrap;
      justify-content: space-evenly;
    
  }
  .sleep-card-title{
    
      padding:5px;
      text-align:center;
     
      font-size:1.5em;
  }

  .sleep-info-flex{
      display:flex;
  }
  .risks-container{
      display:flex;
      flex-direction:column;
      justify-content: space-between;
  }
  .risk{   
      display: grid;
      grid-template-columns:4fr 1fr;
      align-items: center;
    background: linear-gradient(90deg, rgba(120,192,216,1) 0%, rgba(240,216,216,1) 68%);
      height:100px;
  }
  .risk h2,.number-risk{
    overflow: hidden; 
      margin:10px;
      font-size:1.8em; 
  }
  .plot-container {
      margin:auto;
      max-width:1400px;
      width:100vw;
      margin-top:100px;
      margin-bottom:100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .plot-container h2 {
    font-family: 'Sansita', sans-serif;
    margin-top: 10px;
    text-align: center;
  }
  .link-update-info{
    margin:20px;
      margin-left:7%;
     cursor:pointer;
      display: flex;
      align-content: center;
      justify-content: center;
      width:200px;
      height:40px;
      background:#75C0D8;
      border-radius:30px;
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
      
  }
  .link-update-info:hover{
      background:#75bfd8d7;
  
  }
  .link-update-info a{
    font-family: 'Sansita', sans-serif;
    font-size:1.8em;
    text-decoration:none;
    color:white;
  }
  @media screen and (max-width: 600px) {
    .grid-full-page {
      grid-template-columns: 1fr;
    }
    .plot-container {
      grid-template-columns: 1fr;
    }
    .sleep-card,.sleep-card2,.risk{
        margin:10px;
        max-width:380px;
    }
    .risk-container{
        max-width:380px;
        padding-left:10px;
    }
   

  }