
.register-title, .sign-up-google{
    font-family: 'Sansita', sans-serif;
}
.sign-up-google{
    text-align: center;
    font-size:1.2em;
    cursor:pointer;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
}
.register-title{
    text-align: center;
    color:#f4f3f8;
    font-size:3em;
    margin-top:2.5%;
  

}
.sign-up-google img{
    width:25px;
    margin:5px;
    margin-bottom:-5px;
}
.register-div{
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    height:480px;
    max-width:calc(var(--size-form-register) / 1.5);
    width:80vw;
    border-radius: 15px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    background:#f4f3f8;
    box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.39);
}
.register-form{  
    max-width:calc(var(--size-form-register) / 1.5); 
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items:center;

}
#message{
    margin:10px;
    align-self: flex-start;
}
.container-register{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    margin-left:auto;
    margin-right:auto;
    background: rgb(120,192,216);
    background: linear-gradient(180deg, rgba(120,192,216,1) 0%, rgba(192,216,240,1) 51%, rgba(240,216,216,1) 100%);
    background-size: cover;
}
.register-form label input, .register-form .names label input{
    max-width:calc(var(--size-form-register) / 1.6);
    width:70vw;
    height:35px;
    margin:5px;
    padding:5px;
    border: 1px solid rgb(255, 255, 255);
   border-radius: 4px;
   font-size:1em;
   
}
input[type=submit]{   
    cursor: pointer; 
    width:250px;
    height:2.7em;
    font-size:1.2em;
    font-family: 'Sansita', sans-serif;
    border-radius: 50px;
    background:#C0D8F0;
    border:solid 2px #FEFAFA;
    margin-top:20px;

}
.register-form .names label input{
    max-width:calc(var(--size-form-register) / 3.3);
    width:33vw;
    margin-left: -5px;
    margin-right: -5px;   
}
#firstName{
    margin-right:2.5px;
}
#lastName{
    margin-left:2.5px;
}
.names{
    max-width:calc(var(--size-form-register) / 1.6);
    width: 70vw;
    display:flex;
    justify-content: space-between;
    margin:0px;
    padding:0px;
  
    
}
body{
    --size-form-register:1400px;
   margin:0;
   padding:0;
   font-family: 'Dosis', sans-serif;
}
input[type="submit"]:hover{
    box-shadow: 0px 0px 26px 3px rgba(255,255,255,0.62);
}

